/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- DIVs
- Banner
- Dropdown
- Tabs
- Indicators
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --bg-color: #22252b;
  --font-color-light: black;
  --font-color-dark: #b2b2b2;
  --bg-color-light: white;
  --bg-color-dark: #1a1c23;

  --banner-bg-color: white;
  --banner-text-color: black;
  --border-bottom: 2px solid brown;

  --font-roboto: Roboto Slab;
  --font-cursive: 'Brush Script MT', cursive;
  --font-comic-sans: "Comic Sans MS", "Comic Sans", "cursive";
}

::placeholder {
  text-align: center;
  justify-content: center;
  font: 14px var(--font-roboto)
}



* { 
  /* align-content: center; */
  align-items: center;
  box-sizing: border-box;
}

/*------------------------- DIVs ------------------------------------*/

#main_div {
  font-family: var(--font-comic-sans);
  width: 100%;
  /* height: 100vh; */
  margin: 0px 0px 5vh 0px;
  overflow-y: hidden;
}


.div_left_panel {
  height: 100%;
  width: 20vw;
  float: left;
  background-color: #2296e3;

  /* overflow-y: hidden; */
}

.div_right_panel {
  padding: 0 !important;
  background-color: #a3bae6;
  /* color: #b2b2b2; */
  height: 100%;
  width: 78vw;
  float: right;
  margin-left: 1vw;

}

.cursive_text {
  font-family: var(--font-cursive);

}

.tabs_group {
  /* margin-left: 1vw; */
  justify-content: center;
}

.left_panel_tab {
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: auto;
  color: white;
  justify-content: center;
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.details {
	margin: 0.5vw 10px;
  flex-direction: row;
	justify-content: space-between;
  height: auto;
}


.details H3, 
.details H5 {
	width: fit-content;
	margin: 0vw 1vw ;
	line-height: 2;
	color: rgb(224, 95, 95);
	border-bottom: var(--border-bottom);
}

.details Img {
  width: 100%;
}

/*------------------------- Home Page ------------------------------------*/
.quotes_div {
  display: flex;
  justify-content: center;
  font: 100px var(--font-cursive);
  height: 10vh;
  background-color: burlywood;
}

.home_activities .header{
  font-family: var(--font-cursive);
  justify-content: center;
  display: flex;
}

.home_activities Img{
  object-fit: fill;
  width: 33vw;
}

/*------------------------- WINGS ------------------------------------*/

.wings_header {
  background-color: #a3bae6;
  color: white;
  /* height: 10vh; */
  padding-bottom: 2vh;
}

.wings_header H1{
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.wings {
  height: 110vh;
  background-color: white;
  margin-top: 1vh;
}

.wings_spiritual {
  background-color: rgba(236, 8, 8, 0.84);
  color: white;
  align-items: start;
}

.wings_card {
  background-color: #a3bae6;
  height: 500px;
  justify-content: center;
  display: flex;
  margin-bottom: 1vh;
}

.wings_content {
  padding-top: 1vh;
}
/*------------------------- BANNER ------------------------------------*/

.banner {
  /* height: 8vh; */
  align-items: center;
  margin: 0;
  background-color: #8EE4AF !important;
  justify-content: start;
  /* top: 0; */
}

.new {
  background-color: #548cf5 !important;
  /* margin: 0vw; */
  display: flex !important;
}

.banner Img, .new Img {
  height: 10vh !important;
  min-width: 100px;
  object-fit: fill;
}

.header {
  margin-bottom: 0;
  display: flex !important;
  /* font-style: italic; */
}

#footer  {
  background-color: #f75022b5;
  height: 40vh;
  max-height: 400px;
}

.popover {
  max-width: auto !important;
  margin-left: 0
}

.navbar-toggler {
  float: right;
  margin-right: 5vw;
}




/* #header_tabs_1 .col .row { */
  /* margin: 0;
  justify-content: center;
  align-content: center;
} */

/* .tabs {
  position: absolute;
  top: 50%;
} */

/*------------------------- CAROUSEL ------------------------------------*/


.carousel Img {
  object-fit: fill;
  height: 75vh;
  max-height: 512px;
  /* transition: ease-in; */

}




/*------------------------- TABS ------------------------------------*/

#header_tabs_1 {
  background-color: green;
  display: flex;
  justify-content: center ;
  align-content: center;
  /* margin: 0; */
}

.tab_name {
  color: whitesmoke !important;
  display: flex !important;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.tab_name:hover {
  color: white !important;
  background-color: #fa5c20;
}


@property --num {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

.numbers {
  font: 800 40px system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number_counter {
  transition: --num 1s;
  counter-reset: num var(--num);
  font: 800 40px system-ui;
  animation: counter 5s ease-in-out;

}
/* .number_counter:hover {
  --num: 100;
} */
.number_counter::after {
  content: counter(num);
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 100;
  }
}