/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- DIVs
- Banner
- Dropdown
- Tabs
- Indicators
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --bg-color: #22252b;
  --font: Roboto Slab;
  --font-color-light: black;
  --font-color-dark: #b2b2b2;
  --bg-color-light: white;
  --bg-color-dark: #1a1c23;
  --color-success: limegreen;
  --color-failure: red;
  --tab-bg-color: #1a1c23;
  --banner-bg-color: white;
  --banner-text-color: black;
  --border-bottom: 2px solid brown;
}

::placeholder {
  text-align: center;
  justify-content: center;
  font: 14px var(--font)
}

* { 
  justify-content: center;
  align-content: center;
  align-items: center;
}
  /* background-color: var(--bg-color-dark); */
  /* color: var(--font-color-dark); */
  /* height: 100vh; */
  /* margin: 0; */

/*------------------------- DIVs ------------------------------------*/

#main_div {
  width: 100%;
  /* height: 100vh; */
  margin: 0px 0px 5vh 0px;
  font: 20px Roboto Slab !important;
  /* overflow-y: hidden; */
}
/* #second_div {
  /* background-color: var(--bg-color-dark); */
  /* box-sizing: border-box; */
  /* margin: 0 2vw */
/* } */ 

.center {
  display: flex;
  justify-content: center;
  /* align-content: center; */
  /* align-items: center; */
}

/*------------------------- BANNER ------------------------------------*/

.banner {
  /* height: 8vh; */
  align-items: center;
  margin: 0;
  background-color: #8EE4AF !important;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  /* top: 0; */
}

.new {
  background-color: rgb(150, 127, 255);
  margin: 0vw;
  justify-content: space-between;
}

.banner Img, .new Img {
  height: 10vh;
  min-width: 100px;
  object-fit: fill;
}


.header {
  margin-bottom: 0;
  display: flex !important;
  justify-content: center;
  align-content: center;
  font-style: italic;
}

.popover {
  max-width: auto !important;
  margin-left: 0
}




/* #header_tabs_1 .col .row { */
  /* margin: 0;
  justify-content: center;
  align-content: center;
} */

/* .tabs {
  position: absolute;
  top: 50%;
} */

/*------------------------- CAROUSEL ------------------------------------*/


.carousel Img {
  object-fit: fill;
  height: 75vh;
  max-height: 512px;
  /* transition: ease-in; */

}




/*------------------------- TABS ------------------------------------*/

#header_tabs_1 {
  background-color: green;
  display: flex;
  justify-content: center ;
  align-content: center;
  /* margin: 0; */
}

.tab_name {
  color: whitesmoke !important;
  display: flex !important;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.tab_name:hover {
  color: white !important;
  background-color: #fa5c20;
}

